.banana {
  color: yellow;
}

.tomato {
  color: red;
}

[dir='ltr'] .ltr\:banana {
  color: yellow;
}

[dir='ltr'] .ltr\:tomato {
  color: red;
}

[dir='rtl'] .rtl\:banana {
  color: yellow;
}

[dir='rtl'] .rtl\:tomato {
  color: red;
}
